#aboutMeSection {
    width: 120%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingPage-aboutMe {
    background-color: #2563EB;
}

.landingPage-aboutMe-content-image-container {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.landingPage-aboutMe-content-image {
    height: 95%;
    aspect-ratio: 1 / 1;
    background-color: #10B981;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    margin-left: 16%;
}

.landingPage-aboutMe-content-image img {
    width: 102%;
}

.landingPage-aboutMe-content-image-stars-icon {
    position: absolute;
    width: 10vw;
    transform: translate(310%, -135%);
}

.landingPage-aboutMe-content-text-container {
    width: 56%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2%;
    margin-left: 3%;
}

.landingPage-aboutMe-content-text-subtitle {
    color: var(--Main-1, #FFC857);
    font-family: Sora;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5%;
}

.landingPage-aboutMe-content-text-title {
    color: var(--Light, #FFFDFB);
    font-family: Sora;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.landingPage-aboutMe-content-text-title span {
    color: var(--Main-1, #FFC857);
}

.landingPage-aboutMe-content-text-container p {
    color: var(--Light, #FFFDFB);
    font-family: Sora;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 85%;
}