.landingPage-sectionDivider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.landingPage-sectionDivider .landingPage-sectionDivider-line {
    width: 100vw;
    height: 10vh;
    background: var(--Light, #FFFDFB);
    z-index: 10;
}

.landingPage-sectionDivider .landingPage-sectionDivider-lineTransform {
    width: 150vw;
    height: 10vh;
    background: var(--Main-2, #FF6F3C);
    transform: rotate(-2deg);
    position: relative;
    top: -10vh;
    z-index: 9;
}

.landingPage-sectionDivider .landingPage-sectionDivider-lineTransform2 {
    width: 150vw;
    height: 10vh;
    background: var(--Main-2, #10B981);
    transform: rotate(-4deg);
    position: relative;
    top: -20vh;
    z-index: 8;
}