.landingPage-header-content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 51%;
}

.landingPage-header-content-text h1 {
    color: var(--Dark, #1E293B);
    font-family: Sora;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.landingPage-header-content-text h1 span {
    color: #2563EB;
    font-family: Sora;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.landingPage-header-content-text p {
    color: var(--Dark, #1E293B);
    font-family: Sora;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.landingPage-header-content-text-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 1.5rem;
    width: 100%;
    height: 8vh;
}

.landingPage-header-content-text-buttons .landingPage-header-content-text-buttons-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    background-color: #FF6F3C;
    border-radius: 5rem;

    cursor: pointer;
}

.landingPage-header-content-text-buttons .landingPage-header-content-text-buttons-left button {
    margin-right: 0.4rem;
    height: 85%;
    border-radius: 5rem;
    border: none;
    width: 14vw;
    background-color: #2563EB;

    cursor: pointer;

    color: var(--Light, #FFFDFB);
    text-align: center;
    font-family: Sora;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-left: 0.3rem;

    transition: background-color 0.3s;
}

.landingPage-header-content-text-buttons .landingPage-header-content-text-buttons-left img {
    height: 85%;
    margin-right: 0.3rem;
}

.landingPage-header-content-text-buttons .landingPage-header-content-text-buttons-left button:hover {
    background-color: #1E40AF;
}

.landingPage-header-content-text-buttons .landingPage-header-content-text-buttons-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: transparent;
    border-radius: 5rem;
    border: 0.1rem solid var(--Main-3, #2563EB);
    width: 8vw;

    cursor: pointer;

    color: var(--Main-3, #2563EB);
    text-align: center;
    font-family: Sora;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    transition: background-color 0.3s;
    transition: color 0.3s;
}

.landingPage-header-content-text-buttons .landingPage-header-content-text-buttons-right:hover {
    background-color: #2563EB;
    color: var(--Light, #FFFDFB);
}

.landingPage-header-content-image {
    width: 40%;
    display: flex;
    flex-direction: row-reverse;
}

.landingPage-header-content-image img {
    width: 100%;
    transform: translate(0, 13.5%);
    z-index: 2;
}