.buttonWithIconContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  border-radius: 5rem;
  border: none;
  gap: 2%;
  cursor: pointer;
}

.buttonWithIconText {
  height: 85%;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14vw;
  font-family: Sora, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: normal;
  margin-left: 0.5%;
  white-space: nowrap;
}

.buttonWithIconImageContainer {
  height: 85%;
  margin-right: 0.5%;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonWithIconImage {
  width: 60%;
  height: 60%;
  object-fit: contain;
}
