.buttonWithIconContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    background-color: #FF6F3C;
    border-radius: 5rem;
    border: none;
    gap: 2%;

    cursor: pointer;
}

.buttonWithIconContainer .buttonWithIconText {
    height: 85%;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14vw;
    background-color: #2563EB;

    cursor: pointer;

    color: var(--Light, #FFFDFB);
    text-align: center;
    font-family: Sora;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-left: 0.5%;

    transition: background-color 0.3s;
}

.buttonWithIconContainer .buttonWithIconImageContainer {
    height: 85%;
    margin-right: 0.5%;
    background-color: #FFFDFB;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}