.landingPage-project-content-card-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    gap: 3%;
    padding: 1.5%;
    border-radius: 2%;

    background-color: #FFFDFB;
}

.landingPage-project-content-card-image {
    width: 100%;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 2%;
}

.landingPage-project-content-card-image img {
    width: 100%;
}

.landingPage-project-content-cards-container-titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.landingPage-project-content-cards-container-titles h4 {
    color: var(--Main-3, #2563EB);
    font-family: Sora;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.landingPage-project-content-cards-container-titles p {
    color: var(--Dark, #2563EB);
    font-family: Sora;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.landingPage-project-content-card-description {
    color: var(--Dark, #1E293B);
    font-family: Sora;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.landingPage-project-content-cards-container-learn-more {
    display: flex;
    align-items: center;
    gap: 1%;
    cursor: pointer;
    text-decoration: none;
}

.landingPage-project-content-cards-container-learn-more p {
    font-size: 0.90rem;
    transition: all 0.3s;
    color: var(--Dark, #1E293B);
    font-family: Sora;
    font-size: 0.90rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.landingPage-project-content-cards-container-learn-more p:hover {
    font-size: 0.90rem;
    color: #2563EB;
}