.landingPage {
    background-color: #FFC857;
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;
}

.landingPage .landingPage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 85%;
}

.landingPage .landingPage-section {
    width: 100%;
    min-height: 80vh;
    margin-top: 14vh;
}

.landingPage .landingPage-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    width: 100%;
}