body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  min-height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
    /* Oculta la barra de desplazamiento */
}

#root {
  width: 100%;
  min-height: 100vh;
}

.page {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  background-color: aquamarine;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}